# Copyright 2024 Terramate GmbH
# SPDX-License-Identifier: MPL-2.0

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Go module files
[{go.mod,go.sum}]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
max_line_length = 120

# HCL and Terraform files
[*.{hcl,tf,tfvars}]
indent_style = space
indent_size = 2

# Makefile
[{Makefile,*.mk}]
indent_style = tab
indent_size = 4

# Shell scripts
[*.{sh,bash}]
indent_style = space
indent_size = 2

# Dockerfile
[{Dockerfile,*.dockerfile}]
indent_style = space
indent_size = 2

# Protocol Buffers
[*.proto]
indent_style = space
indent_size = 2

# GitHub Actions workflows
[.github/workflows/*.{yml,yaml}]
indent_style = space
indent_size = 2

# Configuration files
[*.{toml,ini,cfg}]
indent_style = space
indent_size = 2
