bin/*
coverage.txt
.terraform
.terraform.lock.hcl
/cmd/terramate/terramate

# Profiling artifacts
cpu.prof
mem.prof
*.test

# Go Workspaces artifacts
/go.work

# VSCode artifacts
.vscode/

# Go releaser artifacts
dist/
