:root {
  --vp-c-brand-1: #DC5C72;
  --vp-c-brand-2: #9F4FDA;
  --vp-c-brand-3: #DC5C72;
  --vp-button-brand-hover-border: #9F4FDA;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(292.7deg, #DC5C72 14.54%, #9F4FDA 84.59%);
  --vp-home-hero-image-filter: blur(72px);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

.clip {
  background: var(--vp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
}

/* strong {
  color: var(--vp-c-brand-2);
} */
