name: benchmarks
on:
  pull_request:
    paths:
      - '**.go'
jobs:
  benchmarks:
    runs-on: ubuntu-20.04

    steps:
      - name: checkout repo
        uses: actions/checkout@v2

      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      - name: run benchcheck
        id: benchmark
        run: |
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$(make bench/check new=$GITHUB_HEAD_REF)" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      
      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: benchmark
          message: |
            ```
            ${{ steps.benchmark.outputs.result }}
            ```
