# Copyright 2023 Terramate GmbH
# SPDX-License-Identifier: MPL-2.0

name: ci
on: [push]
jobs:
  checks:
    runs-on: ubuntu-20.04

    steps:
      - name: checkout repo
        uses: actions/checkout@v2

      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: checking go mod tidyness
        run: make mod/check

      - name: linting code
        run: make lint

      - name: checking license on source code
        run: make license/check

  build_test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-20.04", "macos-11", "macos-12"]
        go: ["1.20"]

    steps:
      - name: checkout repo
        uses: actions/checkout@v2

      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: make test
        run: make test

      - name: make build
        run: make build
      
      - name: check cloud info
        run: ./bin/terramate experimental cloud info

      - name: check cloud sync
        run: ./bin/terramate run --cloud-sync-deployment -- echo "Hello from Terramate CI"

  gh_integration_test:
    name: GHA Integration Test

    runs-on: "ubuntu-20.04"

    steps:
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: make test/ci
        run: make test/ci

  release_dry_run:
    name: Release Dry Run

    runs-on: ubuntu-20.04

    steps:
      - name: checkout repo
        uses: actions/checkout@v2

      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: release dry run
        run: make release/dry-run

  ci:
    needs: [checks, build_test, gh_integration_test, release_dry_run]
    runs-on: ubuntu-20.04
    steps:
      - name: Required Checks
        run: echo "All required checks worked"
