# Copyright 2023 Terramate GmbH
# SPDX-License-Identifier: MPL-2.0

name: interop
on:
  pull_request:
    paths:
      - '**.go'
      - '**.tm'
      - '**.tm.hcl'

jobs:
  interop-tests:
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout
      pull-requests: write # This is required for commenting on the PR.
      checks: read # This is required for fetching check runs.

    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          fetch-depth: 0

      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # pin@v5
        with:
          go-version-file: 'go.mod'

      - name: run interop tests
        id: interop
        run: |
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$(go test -v -count=1 -tags interop ./e2etests/cloud/interop/...)" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        env:
          TMC_API_HOST: api.stg.terramate.io
          TM_CLOUD_ORGANIZATION: test
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: marocchino/sticky-pull-request-comment@331f8f5b4215f0445d3c07b4967662a32a2d3e31 # pin@v2
        with:
          header: interop
          message: |
            ```
            ${{ steps.interop.outputs.result }}
            ```
